<template>
  <div class="container">
    <div class="kv">
      お知らせ
    </div>
    <div class="wrapper">
      <div class="newsContainer">
        <p class="date">{{ currentArticle.createdAt | Date }}</p>
        <h2 class="title">{{ currentArticle.title }}</h2>
        <div class="article-body">
          <div v-html="currentArticle.body" />
        </div>
      </div>
    </div>
    <div class="news wrapper">
      <h2>
        最近のお知らせ
        <span>← microCMSで更新中</span>
      </h2>
      <ul>
        <li v-for="article in articles" :key="article.id">
          <span>{{ modifyDatetime(article.createdAt) }}</span>
          <h3>
            <nuxt-link :to="`/${article.id}`">{{ article.title }}</nuxt-link>
          </h3>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import moment from 'moment'

export default {
  layout: 'default',
  filters: {
    Date(value) {
      return moment(value).format('YYYY.MM.DD')
    }
  },
  data() {
    return {
      articles: null,
      currentArticle: {
        title: null,
        createdAt: null,
        body: null
      }
    }
  },
  mounted() {
    this.fetchArticles()
  },
  methods: {
    fetchArticles() {
      axios
        .get('https://shimotsu-test.microcms.io/api/v1/shimotsutest?limit=4', {
          headers: { 'X-API-KEY': process.env.API_KEY }
        })
        .then((res) => {
          this.articles = res.data.contents.filter(
            (array) => array.id !== this.$route.params.slug
          )
          this.currentArticle = res.data.contents.filter(
            (array) => array.id === this.$route.params.slug
          )[0]
        })
        .catch((err) => {
          console.log(err)
        })
    },
    modifyDatetime(date) {
      const Ymd = date.split('T')[0]
      return Ymd
    }
  }
}
</script>

<style lang="scss" scoped>
.container {
  margin: 0 auto;
  min-height: 80vh;
}

.links {
  padding-top: 15px;
}

.kv {
  background: #eee;
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
}

.wrapper {
  margin: 80px auto;
  width: 100%;
  max-width: 75vw;

  > h2 {
    margin-bottom: 20px;

    > span {
      position: relative;
      top: -4px;
      font-size: 0.8rem;
      font-weight: bold;
      margin-left: 10px;
      background-color: #35495e;
      color: #fff;
      padding: 5px;
      border-radius: 6px;
      padding: 4px 10px;
      border-radius: 6px;
    }
  }
}

.news {
  padding: 30px;
  background-color: #f5f5f5;
  border-radius: 8px;
  > ul {
    padding-left: 0;
    list-style-type: none;

    > li {
      margin-bottom: 30px;
      &:last-of-type {
        margin-bottom: 0;
      }

      > span {
        display: block;
        font-size: 0.9rem;
        font-weight: normal;
        margin: 0 0 5px;
      }

      > h3 {
        font-size: 1rem;

        > a {
          color: #333;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
}

.newsContainer {
  padding-bottom: 60px;
  margin-bottom: 60px;
  border-bottom: 1px solid #ddd;

  > .date {
    margin-bottom: 10px;
  }

  > .title {
    margin-bottom: 30px;
  }

  > p {
    margin-bottom: 10px;
    line-height: 1.8;
  }
}
</style>
