<template>
  <footer class="footer">
    <p>すごいfooter</p>
  </footer>
</template>

<style scoped>
.footer {
  background-color: #333;
  color: #fff;
  font-size: 1.6rem;
  font-weight: normal;
  padding: 80px 0;
  text-align: center;
}
</style>
